/* Default Gutenberg block gallery grid */

.blocks-gallery-grid {

	.blocks-gallery-item {

		&:nth-child(1) {
			margin-bottom: 15%;
			@include r(480) { margin-bottom: $gutter/4; }
		}

		&:nth-child(2) {
			margin-top: 15%;
			@include r(480) { margin-top: $gutter/4; }
		}

		@include r(480) { width: 100%; margin: 0;}

	}
}
