/* WOO Commerce default grid produkt block */

.wc-block-grid__product{
    text-align: left;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.woocommerce-Price-currencySymbol {
	padding-right: 5px;
}

.woocommerce-Price-amount {
	font-size: $font-size-s;
}

.wc-block-grid__product .wc-block-grid__product-title {
	color: $white;
	font-weight: 700;
	margin-bottom: 0;
}

.wc-block-grid__product .wc-block-grid__product-image {
	margin-bottom: $gutter;
}

.wc-block-grid__products {
	margin: 0 -10px 20px;
}
