/**
 * Base SCSS
 */

body {
	opacity: 1;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../fonts/maison-neue/maison.woff2') format('woff2'),
        url('../fonts/maison-neue/maison.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brick Display Pro';
    src: url('../fonts/brick-display-pro/BrickDisplayPro-Light.woff2') format('woff2'),
        url('../fonts/brick-display-pro/BrickDisplayPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.has-huge-font-size {
	font-size: $font-size-xxl;
}

.wrapper article  {

	height: 100vh;
	background: green;
	margin-bottom: 200vh;

	:first-child {
		margin-top: 0;
	}

	> * {
		width: 100%;
		max-width: 1400px;
		padding: 30px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

}


.wrap{
	display: table;
	width: 100%;
	height: 100%;
	font-size: 5vh;
	padding: 3vh;
	background: $color--primary;
	color: $white;
}

.content{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;

	h1, p{
		font-family: Lato;
		font-weight: 100;
		@include r(240)  { font-weight: 100; }
		@include r(320)  { font-weight: 100; }
		@include r(480)  { font-weight: 100; }
		@include r(768)  { font-weight: 100; }
		@include r(1024) { font-weight: 100; }
		@include r(1280) { font-weight: 100; }

	}

	h1{
		text-transform: uppercase;
		@include r(240)  { text-transform: uppercase; }
    	@include r(320)  { text-transform: uppercase; }
    	@include r(480)  { text-transform: uppercase; }
    	@include r(768)  { text-transform: uppercase; }
    	@include r(1024) { text-transform: uppercase; }
    	@include r(1280) { text-transform: uppercase; }

	}
}

footer {
	display: none;
}
