/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use i.e. 1rem = 10px*/
html {
    font-size: 62.5%;
    height:100%;
    min-height:100%;
}

body {
    font-weight: 300;
	font-family: $font-family;
	font-size: $font-size-s;
	@include r(480) { font-size: $font-size-mobile; }
	line-height: $line-height;
    color: $black;
    margin: 0;
    background-color: $rosagelb;
    height:100%;
    min-height:100%;
	position: relative;

	&.farbschema-dunkel {
		background-color: $black;
		color: $white;

		.wrapper {
			background-color: $black;
			color: $white;
		}
	}

}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

.wrapper article a {
	text-decoration: underline;
}

.wrapper article.page > p + ul {
	margin-top: -80px;
}

.wrapper article.page > ul {
	padding: 40px 240px 40px 262px;

	@include r(1024) {
			padding: 40px 40px 40px 62px;
	}
}

.farbschema-dunkel a {
	color: #fff;
}

.farbschema-hell a {
	color: #000;
}

.wrapper article a:hover {
	text-decoration: none;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid $black;
}

ol, ul {

}
select{
    width: 100%;
}

article {

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $font-family-2;
		font-weight: 300;
	}

	h1 {
		font-size: $font-size-xxl;
		@include r(1024) { font-size: $font-size-l; }
		@include r(480) { font-size: $font-size-m; }
	}

	h2 {
		font-size: $font-size-l;
		@include r(1024) { font-size: $font-size-m; }
	}

}
