/**
 * Header SCSS
 */

 .logo {
	 width: 100px;
	 @include r(480) { width: 120px; }
	 display: inline-block;
	 position: fixed;
	 top: 22px;
	 left: $gutter;
	 z-index: 1000;

	 img,
	 svg {
		 width: 100px;
		 @include r(480) { width: 120px; }
		 height: auto;

		 g path {
			 fill:#000!important;
		 }

	 }

 }

 .admin-bar .logo {
	top: 54px;
 }

 .admin-bar header,
 .admin-bar header.dynamic-header.fixed-header {
	 top: 32px;
 }


 header {
	 width: 100%;
	 position: fixed;
	 top: 0;
	 left: 0;
	 background: $rosagelb;
	 color: $black;
	 z-index: 900;

	 &.dynamic-header {
		 position: absolute;
		 top: 100vh;
	 }

	 &.dynamic-header.fixed-header{
		 top: 0;
	 }

	 .menu {
		 text-align: center;

		 li {
			 display: inline-block;
			 padding: 0 10px;

			 a {
				 color: $black;
				 line-height: 1;
			 }

		 }

	 }

	 &.fixed-header {
		 position: fixed;
		 top: 0;
		 left: 0;
		 z-index: 900;
	 }

	 .header-inner {
		 padding: 32px $gutter 28px $gutter;
	 }

 }


.farbschema-dunkel {

	.logo svg g path {
		fill:#fff!important;
	}

	header {
		background: $black;
		color: $white;

		.menu li a {
			color: $white;

			&:hover {
				color: $rosagelb;
			}

		}
	}

}
