/**
 * Header SCSS
 */

 .logo {
	 width: 100px;
	 display: inline-block;
	 position: fixed;
	 top: 22px;
	 left: $gutter;
	 z-index: 1000;

	 img,
	 svg {
		 width: 100px;
		 height: auto;
	 }

 }

 .admin-bar .logo {
	top: 54px;
 }

 .admin-bar header.fixed-header {
	 top: 32px;
 }

 header {
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 background: $rosagelb;
	 color: $black;

	 &.dynamic-header {
		 top: 100vh;
	 }

	 &.dynamic-header.fixed-header{
		 top: 0;
	 }

	 .menu {
		 text-align: center;

		 li {
			 display: inline-block;
			 padding: 0 10px;

			 a {
				 color: $white;
				 line-height: 1;

				 &:hover {
					 color: $rosagelb;
				 }

			 }

		 }

	 }

	 &.fixed-header {
		 position: fixed;
		 top: 0;
		 left: 0;
		 z-index: 900;
	 }

	 .header-inner {
		 padding: 32px $gutter 28px $gutter;
	 }

 }


.farbschema-dunkel header {
	background: $black;
	color: $white;
}
