/**
 * Header SCSS
 */

 .logo {
	 width: 100px;
	 @include r(480) { width: 120px; }
	 display: inline-block;
	 position: fixed;
	 top: 22px;
	 left: $gutter;
	 @media (max-width: 768px) { left: $gutter/2; }

	 z-index: 1100;

	 img,
	 svg {
		 width: 100px;
		 height: auto;

		 g path {
			 fill:#000!important;
		 }

	 }

 }

 .admin-bar .logo {
	top: 54px;
 }

 .admin-bar header,
 .admin-bar header.dynamic-header.fixed-header {
	 top: 32px;
 }

 .dynamic-header {

	@include r(480){
		display: none;
	}

	&.fixed-header {
		@include r(480){
			display: block;
		}
	}

 }

 header {
	 width: 100%;
	 position: fixed;
	 top: 0;
	 left: 0;
	 background: $rosagelb;
	 color: $black;
	 z-index: 900;

	 @include r(768) {
		 font-size: $font-size-s;
	 }

	 @include r(480) {
		 //z-index: 1000;
	 }

	 &.dynamic-header {
		 position: absolute;
		 top: 100vh;
	 }

	 &.dynamic-header.fixed-header {
		 top: 0;
	 }

	 #search-icon {
		display: inline-block;
		position: absolute;
		right: 110px;
		top: 33px;
		cursor: pointer;

		@include r(768) {
			right: 134px;
			top: 27px;
		}

		.st0 {
			stroke-width: 1.5!important;
		}

	 }

	 .menu {
		 text-align: center;

		 @include r(768) {
			position: fixed;
			left: -200%;
			top: 0;
			width: 100%;
			height: 100%;
			background: $white;
			z-index: 1000;
			padding: 0 $gutter/2 0;
			transition: all .6s ease-in-out;
			display: flex;
			align-items: center;
  			justify-content: center;
			flex-direction: column;
		 }

		 li {
			 display: inline-block;
			 padding: 0 10px;

			 @include r(768) {
				 width: 100%;
				 text-align: center;
				 padding: 5px 0;
				 font-size: $font-size-m;
				 display: block;
			 }

			 a {
				 color: $black;
				 line-height: 1;
			 }

			 &.current-menu-item {
				 font-weight: bold;
			 }

		 }

	 }

	 &.fixed-header {
		 position: fixed;
		 top: 0;
		 left: 0;
		 z-index: 900;
	 }

	 .header-inner {
		 padding: 32px $gutter 28px $gutter;

		 @include r(768) {
			 padding: 32px $gutter/2 28px $gutter/2;
		 }

		 @include r(480) {
			 padding: 32px $gutter 46px $gutter;
		  }

	 }

 }


.farbschema-dunkel {

	.logo svg g path {
		fill:#fff!important;
	}

	#search-icon .st0,
	.cart-contents svg g path,
	.cart-contents svg g circle {
		stroke: #fff!important;
	}

	.cart-contents .count {
		color: #fff;
	}

	header {
		background: $black;
		color: $white;

		.menu li a {
			color: $white;

			@include r(748) {
				color: $black!important;
			}

			&:hover {
				color: $rosagelb;
			}

		}
	}

}

body.active-nav {

	touch-action: none;

	header .menu {
		left: 0;
	}

}

body.woocommerce header li.shop-link {
	font-weight: bold;
}
