#mobile-filter-icon {
    width: 28px;
    height: 17px;
    display: block;
    cursor: pointer;
	transition: all .3s ease-in-out;

	span {
		background-color: transparent!important;

		&:before {
			transform: rotate(45deg);
			width: 17px;
			top: 4px;
			left: 0;
		}

		&:after {
			transform: rotate(-45deg);
			width: 17px;
			top: 4px;
			right: 0;
		}

	}

}

#mobile-filter-icon.active-mobile-filter {
	transform: rotate(180deg);
}


#nav-toggle {
    position: fixed;
    right: $gutter/2;
    top: 34px;
    width: 28px;
    height: 17px;
    display: block;
    z-index: 99999999;
    cursor: pointer;
	display: none;

	@include r(768) {
		display: inline-block;
	}

}

.nav-toggle span {
    margin-top: 7px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    cursor: pointer;
    height: 1px;
    width: 28px;
    background: $black;
    position: absolute;
    display: block;
    content: '';
}

.nav-toggle span:before {
    top: -8px;
}

.nav-toggle span:after {
    bottom: -8px;
}

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

.nav-toggle.active {
    position: fixed;
}

.nav-toggle.active span {
    background-color: transparent!important;
}

.nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0;
}

.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.farbschema-dunkel {

	.nav-toggle span,
	.nav-toggle span:before,
	.nav-toggle span:after {
	    background: $white;
	}

}

.logged-in .nav-toggle {
	@include r(480) {
		 display: inline-block;
	 }
}

//
// header nav {
//     width: 100%;
//     height: 100%;
//     background: $black;
//     position: fixed;
//     z-index: 100000;
//     top: 0px;
//     left: 0px;
//     display: none;
//     overflow: hidden;
//     -webkit-overflow-scrolling: touch;
// }
