/* Woocommerce */

.wrapper main {
	padding: $gutter;
	margin-top: 88px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;
}

.woo-custom-filter {
	width: calc(100% - 80px);
	position: fixed;
	top: 120px;
	left: $gutter;
	display: flex;
	z-index: 900;
	align-items: center;
	padding: $gutter/2;
	background: $white;
	margin-bottom: $gutter;

	ul {
		list-style: none;
		float: left;

		> li {
			float: left;
			margin-right: $gutter;
			font-family: $font-family-2;
			font-size: $font-size-m;
			line-height: 1;

			span {
				cursor: pointer;
			}

			i.filter-icon {
				display: inline-block;
				background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOS4zMDIiIGhlaWdodD0iMTQuMDc2IiB2aWV3Qm94PSIwIDAgMjkuMzAyIDE0LjA3NiI+DQogIDxwYXRoIGlkPSJQYXRoXzM1IiBkYXRhLW5hbWU9IlBhdGggMzUiIGQ9Ik01Mjc4Ljk4OS0xMzA2LjQ3OGwxNCwxMiwxNC0xMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUyNzguMzM4IDEzMDcuMjM3KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiLz4NCjwvc3ZnPg0K");
				background-repeat: no-repeat;
				background-position: center right;
				background-size: 100% auto;
				width: 20px;
				height: 20px;
				transition: all .4s;
				margin-left: 20px;
			}

			&.filter-current-parent i.filter-icon {
				transform: rotate(-180deg);
			}

		}

		ul.filter-child-cat {
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			background: $white;
			top: 60px;
			padding: 0 $gutter/2 $gutter/2;

			li {
				font-family: $font-family;
				font-size: $font-size-s;
				margin-top: $gutter/2;
				width: 20%;
				max-width: 250px;
				padding: 2px;

				.pretty.p-default input:checked ~ .state label:after {
					background-color: #000!important;
				}

				.pretty .state label:before {
				    border-color: #000;
				}

			}
		}

	}

	.clear-filter {
		margin-left: auto;
		cursor: pointer;
	}

}

.woocommerce {

	ul#shipping_method li input {
	    margin: 8px .4375em 0 0;
	}

	.woocommerce-customer-details address {
		border: 0;
		padding: 0;
	}

	.woocommerce-additional-fields {
		margin-top: $gutter;
	}

	.woocommerce-terms-and-conditions-wrapper {
		margin-bottom: $gutter/2;
	}

	#customer_details {
		width: calc(50% - 20px);
		float: left;

		.col-1,
		.col-2 {
			width: 100%;
		}
	}

	#order_review,
	#order_review_heading {
		@extend #customer_details;
		margin-left: $gutter;
	}

	span.onsale {
		background-color: $black;
		color: $white;
		width: 95px;
		height: 95px;
		line-height: 95px;
		font-weight: normal;
		font-size: $font-size-mobile;
		padding: 0;
	}

	a:hover span.onsale {
		background: $white;
		color: $black;
	}

	ins {
		font-weight: inherit;
		text-decoration: none;
	}

	form.checkout_coupon,
	form.login,
	form.register {
		border: 0;
	}

	form .form-row .input-text,
	.woocommerce-page form .form-row .input-text {
		background: $white;
		border: 1px solid transparent;
		padding: 9px;
	}

	.woocommerce-info {
		border-top-color: $black;

		&:before {
			color: $black;
		}

	}

	table.cart img {
		width: 100px!important;
		height: auto;
	}

	.cart-collaterals .cart_totals tr td,
	.cart-collaterals .cart_totals tr th {
		border-top: 1px solid $black!important;
	}

	.cart-collaterals .cart_totals tr:first-child td,
	.cart-collaterals .cart_totals tr:first-child th {
		border-top: 0!important;
	}

	table.shop_table {
		border-radius: 0;
		border: 0;

		tbody th,
		tfoot td,
		tfoot th {
			border-top: 1px solid $black;
		}

		th {
			padding: 0 $gutter/3 3px;
			line-height: 2;

			&:first-child {
				padding-left: 0;
			}

		}

		td {
			padding: $gutter/2 $gutter/3;
			border-top: 1px solid $black;

			&.actions {
				padding: $gutter/2 0;

				#coupon_code {
					width: 200px;
					background: $white;
					border: 1px solid $white;
					margin-right: $gutter/2;
				}
			}
		}

		tr td:first-child  {
			padding-left: 0;
		}

		a.remove {
			color: $black!important;

			&:hover {
				color: $white!important;
				background: $black;
			}
		}

	}

	.woocommerce-message {
		border-top-color: $black;
	}

	.woocommerce-message::before {
	    color: $black;
	}

	.quantity .qty {
		background: $white;
		font-size: $font-size-s;
		line-height: 49px;
		height: 49px;
    	padding: 0 9px 0;
		border: 0;
		:active {
			border: 0;
		}
	}

	ul.products {
		display: flex;
		flex-wrap: wrap;
		margin: ($gutter*3) -10px 20px;

		li.product {
			flex: 1 0 25%;
		    max-width: 25%;
			width: 25%;
			margin: 0;
			border: 10px solid transparent;

			.price {
				color: $black;
			}

			.woocommerce-loop-product__title {
				padding-bottom: 0;
				color: $black;
			}

		}

	}

	#respond input#submit,
	input#submit.alt,
	a.button,
	a.button.alt,
	button.button,
	button.button.alt,
	input.button,
	input.button.alt {
		border-radius: 0;
		background-color: $black;
		font-weight: normal;
		font-size: $font-size-s;
    	height: 49px;
		line-height: 49px;
		padding: 0 22px;
		color: $white;

		&:hover {
			background-color: $white;
			color: $black;
		}

		&:disabled {
			background-color: #ebe9eb;
			padding: 0 22px!important;
		}
	}

	div.product {
		padding: $gutter 0;

		span.attributes-string {
			display: block;
			font-weight: normal;
			font-size: $font-size-s;
		}

		form.cart {

			.variations {

				td.label {
					display: none;
				}

				select {
					min-width: 285px;
					padding: 0 9px;
				}
				td {
					display: block;

					#pa_menge {
						width: 285px;
						background: $white;
					}
				}
			}

			.group_table {

				border-bottom: 0;

				td {

					&:first-child {
						width: auto;
					}

					&.woocommerce-grouped-product-list-item__label {
						padding-left: 10px;
						padding-right: 10px;
						width: 50%;
						line-height: 1.1;
					}

					&.woocommerce-grouped-product-list-item__price bdi {
						font-size: $font-size-mobile!important;
					}
				}
			}
		}

		.product-wrap {
			padding: 0 $gutter*6;
			float: left;
			display: inline-block;

			.woocommerce-product-gallery {
				padding: 0 $gutter/3 0 0;
				width: 50%;
				margin: 0 $gutter/3 0 0;
			}

			div.summary {
				width: calc(50% - (#{$gutter}/3));
				padding-bottom: $gutter/3;
				margin-bottom: 0;
				display: inline-block;
				float: none;
			}

			.single-product-content {
				display: block;
				padding-top: $gutter/3;
				margin-bottom: $gutter;
			}

			.single-product-tags {
				padding: calc(#{$gutter} - 10px) 0;
				margin: $gutter 0;
				border-top: 1px solid $black;
				border-bottom: 1px solid $black;
				float: left;
				width: 100%;

				strong {
					display: inline-block;
					margin-right: 10px;
				}

				span {
					display: inline-block;
				}

				a {
					background: $white;
					padding: 10px 24px;
					border-radius: 24px;
					margin: 5px 10px 5px 0;
					display: inline-block;

					&:hover {
						background: $black;
						color: $white;
					}

				}
			}

			.single-product-info {
				border-bottom: 1px solid $black;
				padding-bottom: $gutter;
				width: 100%;
				border-bottom: 1px solid $black;
				float: left;
			}

		}

		.product_title {
			font-family: $font-family-2;
			font-size: $font-size-l;
			font-weight: normal;
			line-height: 1.05;
		}

		 .price {
			 color: $black!important;
			 font-weight: bold;
		 }

		 form.cart {
			 margin: $gutter/2 0 0;

			 div.quantity {
				 margin: 0;
			 }

		 }

	}

}

.related.products {

	margin-top: $gutter;
	float: left;
	width: 100%;

	> h2 {
		text-align: center;
		font-size: $font-size-l;
		font-family: $font-family-2;
		font-weight: normal;
	}

	a.button {
		display: none;
	}

	ul.products {
		margin-top: $gutter;
	}

	.attributes-string {
		display: none;
	}
}

.cart-contents {
	display: inline-block;
	position: absolute;
	right: $gutter;
	top: 32px;

	svg {
		width: 35px;

		path,
		circle {
			stroke-width: 1.5;
		}
	}

	.amount,
	.count {
		//display: none; /* temp */
	}
}

.woocommerce-checkout,
.woocommerce-cart {
	 h3,
	 h2 {
		margin-bottom: $gutter/2;
	}
}

/*temp*/
.product_meta {
	display: none;
}


.woocommerce,
.woocommerce-checkout,
.woocommerce-cart {

	.footer-social svg path {
		fill: $black;
		stroke-color: $black;
	}

	a {
		color: $black;
	}
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	border-radius: 0;
	background: none;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	padding: 0 0 $gutter/2;

	li {
		line-height: 1.2;
		font-size: $font-size-mobile;
		padding-top: $gutter/2;

		&:first-child {
			padding-top: 0;
		}
	}
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	background: $white;
	color: $black;
	margin-bottom: 0;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
	border: 1em solid $white;
	border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
	padding: $gutter/2 0;
	font-size: $font-size-mobile;
}

.blockOverlay {
	background-color: #fdf0e6!important;
}

body .select2-container--default .select2-selection--single {
	border-color: transparent;
	border-radius: 0;
	height: 49px;

	.select2-selection__rendered {
		color: #000;
		line-height: 49px;
	}

	.select2-selection__arrow {
		height: 49px;
		right: 10px;
		b {
			border-color: #000 transparent transparent transparent;
		}
	}
}

.woocommerce-thankyou-order-received {
	margin-bottom: $gutter;
}

.flex-control-paging {
	list-style: none;
	text-align: center;
	margin-top: 10px;
	li {
		display: inline-block;
		margin: 5px;
		a {
			text-indent: -9999px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $white;
			display: inline-block;
			&.flex-active,
			&:hover {
				background: $black
			}
		}
	}
}

.woocommerce-cart .woocommerce table.shop_table tbody th {
	padding: 20px $gutter/3 20px 0;
}


span.attributes-string {
	display: none;
}

.price + .woocommerce-product-details__short-description,
.woocommerce-variation.single_variation + .woocommerce-variation-add-to-cart {
	margin-top: $gutter/2;
}

.woocommerce table.shop_table td.actions #coupon_code {
	background: $white;
	border: 1px solid transparent;
	height: 49px;
	padding: 0 22px;
	line-height: 49px;
}

.woocommerce .disabled,
.woocommerce .disabled:hover,
.woocommerce *:disabled[disabled],
.woocommerce *:disabled[disabled]:hover {
	background-color: #ebe9eb!important;
}

#billing_postcode_field,
#billing_phone_field {
	width: calc(50% - 10px);
	display: inline-block;
}

#billing_city_field,
#billing_email_field {
	width: calc(50% - 10px);
	margin-left: 20px;
	display: inline-block;
}
