/* Woocommerce */

.wrapper main {
	padding: $gutter;
	margin-top: 88px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1400px;


	@include r(1024) {
		padding: $gutter/2;
		display: inline-block;
		width: 100%;
	}

}

.admin-bar .woo-custom-filter {
	top: 120px;
}

.woo-custom-filter {
	width: calc(100% - #{$gutter}*2);
	position: fixed;
	top: 88px;
	left: $gutter;
	display: flex;
	z-index: 900;
	align-items: center;
	background: $white;
	margin-bottom: $gutter;

	#mobile-filter {
		display: none;

		@include r(480) {
			display: block;
			width: 100%;
			float: left;
			padding: $gutter/4 $gutter/3;
		}

		#mobile-filter-icon {
			float: right;
			height: 24px;
			width: 26px;
			display: inline-block;
		}

	}

	@include r(1024) {
		width: calc(100% - #{$gutter});
		left: $gutter/2;
	}

	@include r(768) {
		z-index: 100;
	}

	@include r(480) {
		top: 78px;
		padding: 0;
		display: block;
	}

	> ul {
		@include r(480) {
			display: none;
			width: 100%;
		}
	}

	ul {
		list-style: none;
		float: left;

		> li {
			float: left;
			margin-right: $gutter/2;
			font-family: $font-family-2;
			font-size: $font-size-m;
			line-height: 1;
			padding: $gutter/2;

			@include r(1024) {
				font-size: $font-size-s;
				margin-right: 20px;
			}

			@include r(480) {
				width: 100%;
				padding: $gutter/3;
				font-family: $font-family;
				font-size: $font-size-mobile;
			}

			span {
				cursor: pointer;

				@include r(480) {
					width: 100%;
					display: block;
				}

			}

			&.no-children .filter-icon-svg {
				display: none;
			}

		}

		ul.filter-child-cat {
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			background: $black;
			color: $white;
			top: 72px;
			padding: 0 $gutter/2 $gutter/2;

			@include r(1024) {
				top: 61px;
			}

			@include r(480) {
				position: relative;
				top: 0;
				padding: 0 0 $gutter/3;
			}

			li {
				font-family: $font-family;
				font-size: $font-size-s;
				margin-top: $gutter/2;
				margin-right: 0;
				padding: 2px;
				padding-right: $gutter/2;
				width: 25%;

				@include r(1024) {
					font-size: $font-size-mobile;
					width: auto;
				}

				.pretty.p-default input:checked ~ .state label:after {
					background-color: #000!important;
				}

				.pretty .state label:before {
				    border-color: #fff;
				}

			}
		}

	}

	li.filter-current-parent {
		background: $black;
		color: $white;
		ul.filter-child-cat {
			//display: block;
		}
	}

	.clear-filter {
		margin-left: auto;
		margin-right: $gutter/2;
		cursor: pointer;

		@include r(1024) {
			display: none;
		}

	}

}

.woocommerce {

	.woocommerce-shipping-totals {

		th,td {
			font-weight: normal!important;
		}

	}

	ul#shipping_method {

		li {

			margin: 0;

			input {
	    		margin: 8px .4375em 0 0;
				width: 15px;
				height: 15px;
			}

			label {

				@include r(480){
					word-break: break-all;
				}

				.woocommerce-Price-amount {

					@include r(480){
						display: block;
					}

				}

			}

			@include r(480) {
				margin-top: $gutter/3;
			}

		}

	}

	.woocommerce-customer-details  {

		.woocommerce-column--shipping-address {
			@include r(768) {
				margin-top: $gutter;
			}
		}

		address {
			border: 0;
			padding: 0;
		}

	}

	.woocommerce-additional-fields {
		margin-top: $gutter;
	}

	.woocommerce-terms-and-conditions-wrapper {
		margin-bottom: $gutter/2;
	}

	#customer_details {
		width: calc(50% - 20px);
		float: left;
		@include r(1024) {
			width: 100%;
			margin-bottom: $gutter;
		 }


		.col-1,
		.col-2 {
			width: 100%;
		}
	}

	#order_review,
	#order_review_heading {
		@extend #customer_details;
		margin-left: $gutter;
		@include r(1024) { margin-left: 0; }

	}

	span.onsale {
		background-color: $black;
		color: $white;
		width: 95px;
		height: 95px;
		line-height: 95px;
		font-weight: normal;
		font-size: $font-size-mobile;
		padding: 0;
	}

	a:hover span.onsale {
		background: $white;
		color: $black;
	}

	ins {
		font-weight: inherit;
		text-decoration: none;
	}

	form.checkout_coupon,
	form.login,
	form.register {
		border: 0;
	}


	.coupon + .button {

		@include r(768) {
			margin-top: $gutter/2!important;
		}

		@include r(480) {
			margin-top: $gutter!important;
		}

	}

	form .form-row .input-text,
	.woocommerce-page form .form-row .input-text {
		background: $white;
		border: 1px solid transparent;
		padding: 9px;
	}

	.woocommerce-info {
		border-top-color: $black;

		&:before {
			color: $black;
		}

	}

	table.cart {

		@include r(480) {
			margin-top: -70px;
		}

		img {
			width: 100px!important;
			height: auto;
		}

	}

	.cart-collaterals .cart_totals {
		@include r(1024) { width: 100%; }

		tr td,
		tr th {
			border-top: 1px solid $black!important;
		}

		tr:first-child td,
		tr:first-child th {
			border-top: 0!important;
		}

	}

	table.shop_table {
		border-radius: 0;
		border: 0;

		tbody th,
		tfoot td,
		tfoot th {
			border-top: 1px solid $black;
		}

		th {
			padding: 0 $gutter/3 3px;
			line-height: 2;

			&:first-child {
				padding-left: 0;
			}

		}

		td {
			padding: $gutter/2 $gutter/3;
			border-top: 1px solid $black;

			@include r(1024) {
				padding: 20px;
			}

			@include r(480) {
				position: relative;

			}

			small.shipped_via {

				@include r(480) {
					display: block;
					word-break: keep-all;
					width: 200px;
					text-align: right;
					right: 0;
				    bottom: 3px;
				    position: absolute;
				}

			}

			&.actions {
				padding: $gutter/2 0;

				#coupon_code {
					width: 200px;
					background: $white;
					border: 1px solid $white;
					margin-right: $gutter/2;
				}
			}
		}

		tr td:first-child  {
			padding-left: 0;
		}

		a.remove {

			color: $black!important;

			@include r(768) {
				background: $white!important;
				transform: translate(-26px, 74px);
			}

			@include r(480) {
				transform: translate(0, 40px);
				float: right;
			}

			&:hover {
				color: $white!important;
				background: $black;
			}

		}

	}

	.woocommerce-message {
		border-top-color: $black;
	}

	.woocommerce-message::before {
	    color: $black;
	}

	.quantity .qty {
		background: $white;
		font-size: $font-size-s;
		line-height: 49px;
		height: 49px;
    	padding: 0 9px 0;
		border: 0;
		:active {
			border: 0;
		}
	}

	ul.products {
		display: flex;
		flex-wrap: wrap;
		margin: ($gutter*3) -10px 20px;
		// overflow: hidden;
		/*temp big white space isotope bug*/

		@include r(1024) {
			margin: 54px 0 $gutter/2 -10px;
			width: calc(100% + 20px);
		}

		@include r(480) {
			margin: 30px 0 $gutter/2 -10px;
		}

		li.product {
			flex: 1 0 25%;
		    max-width: 25%;
			width: 25%;
			margin: 0;
			border: 10px solid transparent;

			.button {
				display: none;
			}

			.onsale {
				margin: -.8em -.8em 0 0;
				@include r(480) { margin: 0 }
			}

			a img {
				@include r(1024) {
					margin-bottom: 0;
				}
			}

			@include r(768) {
				flex: 1 0 50%!important;
				width: 50%!important;
				max-width: 50%!important;
				margin-bottom: 0!important;
			}

			@include r(480) {
				flex: 1 0 100%!important;
				width: 100%!important;
				max-width: 100%!important;
				margin-bottom: 0!important;
			}

			.price {
				color: $black;
				@include r(1024) {
					margin-bottom: 0;
				}
			}

			.woocommerce-loop-product__title {
				padding-bottom: 0;
				color: $black;
				word-break: keep-all;
			}

		}

	}

	#respond input#submit,
	input#submit.alt,
	a.button,
	a.button.alt,
	button.button,
	button.button.alt,
	input.button,
	input.button.alt {
		border-radius: 0;
		background-color: $black;
		font-weight: normal;
		font-size: $font-size-s;
    	height: 49px;
		line-height: 49px;
		padding: 0 22px;
		color: $white;

		@include r(480) {
			width: 100%!important;
		}

		&:hover {
			background-color: $white;
			color: $black;
		}

		&:disabled {
			background-color: #ebe9eb;
			padding: 0 22px!important;
		}
	}

	div.product {
		padding: $gutter 0;

		@include r(1024) {
			display: inline-block;
			padding: 0;
		}

		span.attributes-string {
			display: block;
			font-weight: normal;
			font-size: $font-size-s;
		}

		form.cart {

			.variations {

				td.label {
					display: none;
				}

				select {
					min-width: 285px;
					padding: 0 9px;
				}
				td {
					display: block;

					#pa_menge {
						width: 285px;
						background: $white;
					}
				}
			}

			.group_table {

				border-bottom: 0;

				td {

					&:first-child {
						width: auto;
					}

					&.woocommerce-grouped-product-list-item__label {
						padding-left: 10px;
						padding-right: 10px;
						width: 50%;
						line-height: 1.1;
					}

					&.woocommerce-grouped-product-list-item__price bdi {
						font-size: $font-size-mobile!important;
					}
				}
			}
		}

		.product-wrap {
			padding: 0 $gutter*6;
			float: left;
			display: inline-block;
			position: relative;
			@include r(1024) { padding: 0; }


			.extra-product-fields {
				width: 100%;
				float: left;

				label {
					width: 100%;
					display: block;
				}

				textarea {
					width: 334px;
					padding: 9px;
					background: $white;
					margin-top: $gutter/2;
					display: block;
				}

			}

			.onsale {
				left: $gutter*5;
				top: -#{$gutter};
				@include r(480) {
					top: 5px;
					left: auto;
					right: 5px;
				}
			}

			.woocommerce-product-gallery {
				padding: 0 $gutter/3 0 0;
				width: 50%;
				margin: 0 $gutter/3 0 0;

				@include r(768) {
					float: left;
				}

				@include r(480) {
					width: 100%;
					padding-right: 0;
					margin-right: 0;
					margin-bottom: $gutter/2;
				}

			}

			div.summary {
				width: calc(50% - (#{$gutter}/3));
				padding-bottom: $gutter/3;
				margin-bottom: 0;
				display: inline-block;
				float: none;

				@include r(768) {
					float: right;
				}

				@include r(480) {
					width: 100%;
				}


			}

			.single-product-content {
				display: block;
				padding-top: $gutter/3;
				width: calc(50% - (#{$gutter}/3));
				float: right;

				@include r(768) {
					width: 100%;
				}

			}

			.single-product-tags {
				padding: calc(#{$gutter} - 10px) 0;
				margin: $gutter 0;
				border-top: 1px solid $black;
				border-bottom: 1px solid $black;
				float: left;
				width: 100%;

				strong {
					display: inline-block;
					margin-right: 10px;

					@include r(480) {
		 				width: 100%;
						margin-bottom: 5px;
		 			}

				}

				span {
					display: inline-block;
				}

				a {
					background: $white;
					padding: 10px 24px;
					border-radius: 24px;
					margin: 5px 10px 5px 0;
					display: inline-block;

					&:hover {
						background: $black;
						color: $white;
					}

				}
			}

			.single-product-info {
				border-bottom: 1px solid $black;
				padding-bottom: $gutter;
				width: 100%;
				float: left;

				&.special-info {
					border-top: 1px solid $black;
					padding-bottom: 0;
					padding-top: $gutter;
					border-bottom: 0;
				}

				.single-product-info-title {
					cursor: pointer;
					font-weight: bold;
					display: inline-block;

					.filter-icon {
						margin: 0 0 0 10px;
						transform: translateY(3px);
					}
				}

				.single-product-info-wrapper {
					display: none;
					margin-top: 20px;
					width: 100%;
				}

			}

		}

		.product_title {
			font-family: $font-family-2;
			font-size: $font-size-l;
			font-weight: normal;
			line-height: 1.05;

			@include r(480) {
				font-size: $font-size-m;
			}

		}

		 .price {
			 color: $black!important;
			 font-weight: bold;
		 }

		 form.cart {
			 margin: $gutter/2 0 0;

			 div.quantity {

				 margin: 0;

				 .input-text {
					 @include r(480) {
	 	 				width: 100%;
						margin-bottom: $gutter/3;
	 	 			}
				 }

				@include r(480) {
	 				width: 100%;
	 			}

			 }

		 }

	}

}

.related.products {

	margin-top: $gutter;
	float: left;
	width: 100%;

	> h2 {
		text-align: center;
		font-size: $font-size-l;
		font-family: $font-family-2;
		font-weight: normal;

		@include r(480) {
			font-size: $font-size-m;
		}

	}

	a.button {
		display: none;
	}

	ul.products {
		margin-top: $gutter;
	}

	.attributes-string {
		display: none!important;
	}
}

.cart-contents {
	display: inline-block;
	position: absolute;
	right: $gutter;
	top: 32px;

	@include r(768) {
		top: 25px;
		right: 66px
	}

	svg {
		width: 35px;

		path,
		circle {
			stroke-width: 1.5;
		}
	}

	.amount,
	.count {
		//display: none; /* temp */
	}
}

.woocommerce-checkout,
.woocommerce-cart {
	 h3,
	 h2 {
		margin-bottom: $gutter/2;
	}
}

/*temp*/
.product_meta {
	display: none;
}

.woocommerce,
.woocommerce-checkout,
.woocommerce-cart {

	.footer-social svg path {
		fill: $black;
	}

	a {
		color: $black;
	}
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	border-radius: 0;
	background: none;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	padding: 0 0 $gutter/2;

	li {
		line-height: 1.2;
		font-size: $font-size-mobile;
		padding-top: $gutter/2;

		&:first-child {
			padding-top: 0;
		}
	}
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	background: $white;
	color: $black;
	margin-bottom: 0;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
	border: 1em solid $white;
	border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {

	padding: $gutter/2 0;
	font-size: $font-size-mobile;

	label {
		line-height: 1.3!important;
	}
}

.blockOverlay {
	background-color: #fdf0e6!important;
}

body .select2-container--default .select2-selection--single {
	border-color: transparent;
	border-radius: 0;
	height: 49px;

	.select2-selection__rendered {
		color: #000;
		line-height: 49px;
	}

	.select2-selection__arrow {
		height: 49px;
		right: 10px;
		b {
			border-color: #000 transparent transparent transparent;
		}
	}
}

.woocommerce-thankyou-order-received {
	margin-bottom: $gutter;
}

.woocommerce-order-details {
	margin-top: 20px;
}

.flex-control-paging {
	list-style: none;
	text-align: center;
	margin-top: 10px;
	li {
		display: inline-block;
		margin: 5px;
		a {
			text-indent: -9999px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $white;
			display: inline-block;
			&.flex-active,
			&:hover {
				background: $black
			}
		}
	}
}

.woocommerce-cart .woocommerce table.shop_table tbody th {
	padding: 20px $gutter/3 20px 0;
}


span.attributes-string {
	display: none;
}

.price + .woocommerce-product-details__short-description,
.woocommerce-variation.single_variation + .woocommerce-variation-add-to-cart {
	margin-top: $gutter/2;
}

.woocommerce table.shop_table td.actions #coupon_code {
	background: $white;
	border: 1px solid transparent;
	height: 49px;
	padding: 0 22px;
	line-height: 49px;

	@include r(480) {
		width: 100%;
		margin-bottom: $gutter/2;
	}

}

.woocommerce .disabled,
.woocommerce .disabled:hover,
.woocommerce *:disabled[disabled],
.woocommerce *:disabled[disabled]:hover {
	background-color: #ebe9eb!important;
}

#billing_postcode_field,
#billing_phone_field {
	width: calc(50% - 10px);
	display: inline-block;
}

#billing_city_field,
#billing_email_field {
	width: calc(50% - 10px);
	margin-left: 20px;
	display: inline-block;
}

.filter-current-parent .filter-icon-svg {

	transform: rotate(-180deg);
	path {
		stroke: #fff;
	}

}

.filter-icon-svg {

	width: 20px;
	height: 20px;
	transition: all .4s;
	margin-left: 5px;

	@include r(768) {
		margin-left: 5px;
		width: 15px;
		height: 15px;
	}

	@include r(480) {
		float: right;
		margin-right: 7px;
	}

}

i.filter-icon {
	display: inline-block;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOS4zMDIiIGhlaWdodD0iMTQuMDc2IiB2aWV3Qm94PSIwIDAgMjkuMzAyIDE0LjA3NiI+DQogIDxwYXRoIGlkPSJQYXRoXzM1IiBkYXRhLW5hbWU9IlBhdGggMzUiIGQ9Ik01Mjc4Ljk4OS0xMzA2LjQ3OGwxNCwxMiwxNC0xMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUyNzguMzM4IDEzMDcuMjM3KSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiLz4NCjwvc3ZnPg0K");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 100% auto;
	width: 20px;
	height: 20px;
	transition: all .4s;
	margin-left: 20px;

	@include r(768) {
		margin-left: 10px;
		width: 15px;
		height: 15px;
	}

}

.filter-current-parent i.filter-icon {
	transform: rotate(-180deg);
}

.woo-back {
	position: absolute;
	top: calc(50% - 65px);
	left: -180px;
	opacity: 0;

	@include r(1024) {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 1!important;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
	}

	.woo-back-link-mobile {
		display: none;
		@include r(1024) {
			display: inline-block;
			margin-left: 10px;
			width: calc(100% - 35px);
			line-height: 1.05;
		}
	}

	.woo-back-link {
		width: 80px;
		height: 80px;
		text-align: center;
		border-radius: 50%;
		background: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@include r(1024) {
			width: 20px;
			height: 20px;
		}

		&:hover {
			background: $black;
			svg path {
				stroke: $white;
			}
		}

		svg {
			margin-right: 3px;
			@include r(1024) {
				width: 5px;
				height: auto;
			}

		}
	}

	.woo-back-name {
		display: none;
		background: $white;
		color: $black;
		padding: 10px 15px;
		font-size: 30px;
		position: absolute;
		left: 40px;
		top: -100px;
		width: auto;
		white-space: nowrap;
		z-index: 1000;

		@include r(768) {
			display: none;
		}

		&:after {
			content:"";
			width:0px;
			height:0px;
			border-style:solid;
			border-width: 22px 18px 0 0;
			border-color:$white transparent transparent $white;
			position:absolute;
			bottom: -18px;
			left: 0;
			display:block;

			@include r(768) {
				display: none;
			}
		}
	}
}

.tax-product_tag {
	a.product-tag {
		background: $white;
		padding: 10px 24px;
		border-radius: 24px;
		margin: 5px 10px 5px 0;
		display: inline-block;

		&:hover,
		&.filter-current-tag {
			background: $black;
			color: $white;
		}

	}

	.load-more-wrapper,
	.add_to_cart_button {
		display: none!important;
	}

}

.woocommerce-checkout #payment div.payment_box {
	p.woocommerce-SavedPaymentMethods-saveNew {
	    margin-top: -20px;
	}
	.wc-credit-card-form#wc-stripe-cc-form {
		margin-top: 0;

		label {

			@include r(480) {
				display: none;
				line-height: 1;
			}

		}

		.form-row {
			margin: 10px 0 0 0;
			padding: 0;
		}

		.wc-stripe-elements-field,
		.wc-stripe-iban-element-field {
		    border: 1px solid #000;
		    margin: 5px 0;
		    padding: 9px;
		}

		.wc-stripe-error {
			margin: 20px 0 0 0;
		}
	}
}

.woocommerce table.shop_table_responsive tr.shipping {

	td {
		text-align: left!important;

		&::before {
			width: 100%;
			padding-bottom: $gutter/3;
		}

	}

}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {

	.wc-forward {
		@include r(480) {
			margin-bottom: 0.7em!important;
		}
	}

	&::before {

		@include r(480) {
			left: 1em;
		}

	}

	@include r(480) {
		padding: 1em 1em 1em 3em;
		margin: 0 0 $gutter;
	}

}

.woocommerce ul.order_details li {

	@include r(1024) {
		border-right: 0;
		margin-bottom: $gutter/2;
		margin-right: 0;
		width: 33%;
	}

	@include r(480) {
		border-right: 0;
		margin-bottom: $gutter/2;
		margin-right: 0;
		width: 100%;
	}


}


#order_comments {
	@include r(480) {
		min-height: 102px;
	}
}

small.includes_tax {

	text-transform: uppercase;
	display: block;

	@include r(480) {
		width: 100%;
	}

	.woocommerce-Price-currencySymbol {
		font-size: 75%!important;
	}

}

.woocommerce table.shop_table_responsive tr td,
.woocommerce-page table.shop_table_responsive tr td,
.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
	@include r(480) {
		width: 100%;
		text-align: left!important;
		padding-left: 0;
	}
}

.woocommerce table.shop_table_responsive tr td.product-remove {
	@include r(480) {
		text-align: right!important;
		padding-right: 0;
	}
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: rgba(0,0,0,0)!important;
}


@media screen and (max-width: 480px) {

	/* Force table to not be like tables anymore */
	.woocommerce-page table.shop_table,
	.woocommerce-page table.shop_table thead,
	.woocommerce-page table.shop_table tbody,
	.woocommerce-page table.shop_table tfoot,
	.woocommerce-page table.shop_table th,
	.woocommerce-page table.shop_table td,
	.woocommerce-page table.shop_table tr {
		display: block;
		padding-left: 0!important;
	}

}

.woocommerce-checkout-review-order-table thead,
.woocommerce-cart-form__contents thead {
	@include r(480) {
		display: none!important;
	}
}

.cart-subtotal,
.woocommerce-shipping-totals,
.order-total {

	th {
		@include r(480) {
			padding-top: 20px!important;
		}
	}

	td {
		@include r(480) {
			border-top: 0!important;
			padding-top: 0!important;
		}
	}
}

.woocommerce table.shop_table_responsive tr.shipping td::before,
.woocommerce table.shop_table_responsive tr.order-total td::before {
	@include r(480) {
		padding-top: 20px;
	}
}

.woocommerce-customer-details--phone,
.woocommerce-customer-details--email {
	display: none;
}

.woocommerce td.product-name dl.variation dt.variation-Lieferadresse,
.woocommerce td.product-name dl.variation dd.variation-Lieferadresse {
	margin-top: 20px;
	width: 100%;
}

a.woocommerce-terms-and-conditions-link,
.wrapper article .product-name a,
.wrapper article a.shipping-calculator-button:hover  {
	text-decoration: underline;
}

.wrapper article a.wc-block-grid__product-link,
.wrapper article .product-name a,
.wrapper article a.shipping-calculator-button {
	text-decoration: none;
}

.wc-block-grid__product .wc-block-grid__product-image {
	@include r(480) {
		margin-bottom: 18px!important;
	}
}

.wc-block-grid__product .wc-block-grid__product-price {
	@include r(480) {
		margin-bottom: 0;
	}
}
